[aria-expanded="false"]+.dropdown__menu {
  display: none;
}

.dropdown,
.search {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20;
  min-width: 15rem;
  border: 1px solid #ddd;
  margin-top: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
}

.dropdown__menu--divider {
  border-top: 1px solid #ddd;
  margin: .4rem 0;
}

.dropdown__menu a {
  display: block;
  padding: .3rem .8rem;
  color: #333;
  text-decoration: none;
}

.dropdown__menu a:hover {
  background-color: #f5f5f5;
}
